li {
  width: 100%;
}

.article {
  margin-top: 0;
  padding: 0.5rem;
  width: 100%;
}

@media (min-width: 45em) {
  .article {
    margin: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 50rem;
  }
}

.negative {
  color: rgb(40, 40, 40);
  background-color: #ff4040;
}

p {
  margin-left: 2rem;
  padding-left: 0.5rem;
}
p.negativeP {
  color: rgb(40, 40, 40);
}

.positive {
  color: whitesmoke;
  background-color: #004adb;
}

p.positiveP {
  color: whitesmoke;
}

p.neutralP {
  color: whitesmoke;
}

.neutral {
  color: whitesmoke;
  background-color: rgb(40, 40, 40);
}

a {
  display: block;
  text-decoration: none;
  margin-left: 1.25rem;
  padding: 1rem;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

a.Negative {
  color: rgb(40, 40, 40);
}

a.Positive {
  color: whitesmoke;
}

a.Neutral {
  color: whitesmoke;
}
