.searchitem{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    width: 50%;
    color: rgb(40, 40, 40);
}

.loading{
    margin-top: 0;
    margin-left: 2rem;
    padding-left: 0.25rem;
    width: 50%;
    color: rgb(40, 40, 40);
    /* background-color: red; */
}